{% extends "drilldown/base.html" %}
{% load l10n %}

{% block title %}NCVoter Sample{% endblock %}

{% block content %}
    <a href="{% url "drilldown" %}?{{ request.GET.urlencode }}">&lt; back to drilldown</a>
    <div>
        <div class="filter">
            <h1 class="filter-desc">Voters...</h1>
            <span class="count">{{ total_count|localize }}</span>
        </div>
        {% for filter in applied_filters %}
            <div class="filter">
                <span class="filter-desc">{{ filter.description|safe }}</span>
                <span class="count">{{ filter.count|localize }}</span>
            </div>
        {% endfor %}
    </div>

    <div id="sample">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <th>Name</th>
                <th>Race</th>
                <th>Gender</th>
                <th>Party</th>
                <th>Address</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Phone #</th>
            </thead>
            <tbody>
                {% for v in sample_results %}
                    <tr>
                        <td>{{ v.data.first_name }} {{ v.data.midl_name }} {{ v.data.last_name }}</td>
                        <td>{{ v.data.race_desc.title }}</td>
                        <td>{{ v.data.gender_code }}</td>
                        <td>{{ v.data.party_cd }}</td>
                        <td>{{ v.data.mail_addr1 }}</td>
                        <td>{{ v.data.mail_city }}</td>
                        <td>{{ v.data.mail_zipcode }}</td>
                        <td>{% if v.data.full_phone_number %}{{ v.data.full_phone_number }}{% else %}{{ v.data.area_cd }} {{ v.data.phone_num }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-info" href="?{{ request.GET.urlencode }}">Resample</a>
{% endblock %}
