[defaults]
retry_files_enabled = False
roles_path = deployment/roles/
vault_password_file = .vault_pass
# Uncomment below for initial provision (and set .pem filename accordingly)
# remote_user = ubuntu
# private_key_file= ~/.ssh/caktus-ncvotes.pem
[ssh_connection]
pipelining = True
